<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
        <add id="sns_affiliate::affiliate" title="Affiliate Customers" module="Sns_Affiliate" sortOrder="10" parent="Magento_Backend::marketing_user_content" action="sns_affiliate/items/" resource="Sns_Affiliate::items"/>
    </menu>
</config>
